* {
    margin: 0;
    padding: 0;
}

.container_header{
    width: 100%;
    height: 160px;
    background-color: rgb(255, 255, 255);
}

.logo_search_user {
    display: grid;
    grid-template-columns: 300px 600px 300px;
    justify-content: center;
}

.logo {
    position: relative;
}

.logo_image {
    position: absolute;
    left: 40px;
    top: 5px;
    user-select: none;
}

.logo_slogan{
    position: absolute;
    right: 2px;
    top: 30px;
    font-family: 'Lobster', cursive;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.63);
    user-select: none;
}

ul.user_icons{
    user-select: none;
}

.search_input {
    width: 500px;
    height: 40px;
    margin: 40px 0 0 80px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 2px rgb(197, 197, 197);
    background-color: rgba(245, 245, 245, 0.323);
    padding-left: 20px;
    font-size: 1em;
    background-image: url('/assets/image/search_icon.png');
    background-repeat: no-repeat;
    background-position: 460px;
    background-size: 20px 20px;
    outline: none;
}

input[type='search']::-webkit-search-decoration, 
input[type='search']::-webkit-search-cancel-button, 
input[type='search']::-webkit-search-results-button, 
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

.user {
    margin-left: 26px;
    margin-top: 35px;
}

ul.user_icons li {
    padding-left: 10px;
    display: inline-block;
}

button.btn_user_icon {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    transition: .2s;
}

button.btn_user_icon:hover {
    background-color: rgb(255, 119, 56);
    transition: all linear 400ms;
}

.nav_bar {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    background-color:rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(209, 209, 209);
}

.menu_burger {
    width: 130px;
    height: 30px;
    background-color: rgb(255, 81, 0);
    border-radius: 15px;
    cursor: pointer;
}

.menu_burger {
    color: rgba(255, 255, 255, 0.925);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    transition: .2s;
}

.menu_burger:hover {
    background-color:rgba(255, 94, 19, 0.801);
    transition: 300ms;
}

ul.nav_items {
    text-align: center;
    user-select: none;
}

ul.nav_items li {
    display: inline-block;
    padding-left: 10px;
    display: inline-block;
    margin-top: 10px;
}

.items a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.925);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    padding: 0 15px 0 15px;
    transition: .2s;
}

.items a:hover{
    color: rgb(218, 80, 17);
    transition: 200ms;
}

.slideshow_container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color:rgba(0, 0, 0, 0.8)
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes fade {
    from{opacity: 0;}
    to{opacity: 1;}
}